body{
	
	text-align: center;
	background: #99badd url(pattern.png) repeat;
}

#main_title{ 
	
	font: bold 30px consolas;
	color: black;
	border: solid 2px;
	width: 55%;
	-webkit-border-radius: 10px;	
	-webkit-box-flex: 1;
	background: #CED5DA;
	padding: 5px;
	-webkit-transform: translate(215px);
	-webkit-box-shadow: rgb(110,110,110) 5px 5px 5px;
	-webkit-transition: color 1s;
}

#main_title:hover{
	color: red;
}

#front_page{
	
	border: solid 1px;
	margin: 30px 260px;
	padding-bottom: 200px;
	background: #99badd;
	-webkit-box-flex: 1;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: rgb(110,110,110) 5px 5px 5px;
}

#menu{
}

#menu li{
	display: inline-block;
	list-style: none;
	font: normal 15px consolas;
	border: solid 1px #79a4d2;
	-webkit-box-shadow: rgb(64, 125, 191) 1px 1px 1px;
	padding: 5px;
	padding-left:40px;
	padding-right: 40px;
	margin: 30px 20px;
	-webkit-box-flex: 1;
	-webkit-transition: -webkit-transform 1s, -webkit-box-shadow 1s;
}

#menu li:hover{
	-webkit-transform: rotate(360deg);
	-webkit-box-shadow: rgb(64, 125, 191) 1.5px 1.5px 1.5px inset;
}

#introduction, #temp{
	padding-top: 10px;
	border-top: solid 2px #79a4d2;
	border-bottom: solid 2px #79a4d2;
}

#about_title, #contact_info{
	font: bold 30px Courier;
}

p {
	padding: 20px;
	font: normal 20px Deja vu Sans Mono;
	color: white;
}

